ul {
  list-style: none;
}

a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
/*убрали дефолтные стили*/

/*шапка сайта*/
header {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
}
header nav,
header ul,
header li {
  display: inline;
}
header > a {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
}
.site-nav {
  position: absolute;
  width: 294px;
  height: 16px;
  left: 453px;
  top: 32px;
}
.auth-nav {
  position: absolute;
  width: 307px;
  height: 16px;
  left: 1078px;
  top: 32px;
}

/* секция герой  */
.hero {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
}
.hero h1 {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 200px;
}
.hero a {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 350px;
}

/* секция особенности и чем мы занимаемся */
.about-us {
  position: absolute;
  width: 1600px;
  height: 770px;
  left: 0px;
  top: 680px;
}
.about-us .title {
  display: none;
}
.about-us-list,
.about-us-list li {
  display: inline-block;
}
.about-us-list {
  position: absolute;
  width: 1170px;
  height: 101px;
  left: 215px;
  top: 94px;
}
.about-us-text {
  width: 270px;
  height: 75px;
  display: block;
}
.what-we-do-title {
  position: absolute;
  width: 376px;
  height: 42px;
  left: 612px;
  top: 289px;
}
.what-we-do-list {
  position: absolute;
  width: 1170px;
  height: 386px;
  left: 215px;
  top: 381px;
}
.what-we-do-img {
  width: 370px;
  height: 294px;
}

/* секция наша команда */
.section-team {
  position: absolute;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;
}
.section-team h2 {
  position: absolute;
  width: 264px;
  height: 42px;
  left: 668px;
  top: 94px;
}
.section-team ul,
.section-team li {
  display: inline-block;
}
.section-team ul {
  position: absolute;
  width: 1170px;
  height: 368px;
  left: 215px;
  top: 186px;
}
.section-team img {
  width: 270px;
  height: 260px;
}

/* футер */
footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
}
footer > a {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 60px;
}
footer address {
  position: absolute;
  width: 231px;
  height: 81px;
  left: 215px;
  top: 111px;
}
