ul {
  list-style: none;
}

a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
/*убрали дефолтные стили*/

:root {
  --text-color-white: #ffffff;
  --text-color-black: #212121;
  --text-color-grey: #757575;
  --accent-color: #2196f3;
  --text-color-auth-nav: rgba(255, 255, 255, 0.6);
  --text-color-black-logo: #000000;
  --background-color-gray: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--text-color-white);
}

/*шапка сайта*/

.web-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: var(--accent-color);
}
.studio-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: var(--text-color-black-logo);
}
.nav-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  color: var(--text-color-black);
}
.contact-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  color: var(--text-color-grey);
}
.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* секция герой  */
.hero {
  background-color: var(--background-color-gray);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--text-color-white);
  text-transform: uppercase;
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background-color: var(--accent-color);
  color: var(--text-color-white);
}

/* секция особенности и чем мы занимаемся */
.about-us .title {
  display: none;
}

.about-us-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: var(--text-color-black);
  text-transform: uppercase;
}
.about-us-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color-grey);
}
.what-we-do-title .team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--text-color-black);
}

/* секция наша команда */

.team {
  background-color: #f5f4fa;
}
.team-worker {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  color: var(--text-color-black);
}
.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  color: var(--text-color-grey);
}

/* футер */

.footer {
  background-color: var(--background-color-gray);
}
.footer-auth-nav .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color-auth-nav);
  font-style: normal;
}
.footer-auth-nav .address {
  color: var(--text-color-white);
}
